<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!--使用servlet3.0框架是可以省略web.xml因为servlet无需在web.xml配置-->
    <!--
        当servlet容器启动的时候回自动加载web应用的web.xml文件与classpath中的类。
        因为我们需要使用shiro框架，所以需要在web.xml中添加一些shiro的启动配置。
    -->
    <!--
        通过EnvironmentLoaderListener读取classpath中的shiro.ini文件，并加载相关的
        配置项到内存中。一遍ShiroFilter可以获取。
    -->
    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>

    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <!--拦截所有的请求-->
        <url-pattern>/*</url-pattern>
    </filter-mapping>




</web-app>