<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <!--<context-param>-->
    <!--<param-name>webAppRootKey</param-name>-->
    <!--<param-value>ibotpro.root</param-value>-->
  <!--</context-param>-->
  <!--<context-param>-->
    <!--<param-name>log4jConfigLocation</param-name>-->
    <!--<param-value>/WEB-INF/classes/log4j.properties</param-value>-->
  <!--</context-param>-->
  <!--<context-param>-->
    <!--<param-name>contextConfigLocation</param-name>-->
    <!--<param-value>classpath*:/app.xml,classpath*:/app-*.xml</param-value>-->
  <!--</context-param>-->
  <!--<listener>-->
    <!--<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>-->
  <!--</listener>-->
  <!--<filter>-->
    <!--<filter-name>IBotclusterAppRewriteFilter</filter-name>-->
    <!--<filter-class>com.eastrobot.commonsapi.util.IBotclusterAppRewriteFilter</filter-class>-->
  <!--</filter>-->
  <!--<filter-mapping>-->
    <!--<filter-name>IBotclusterAppRewriteFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
  <!--</filter-mapping>-->
  <!--<filter>-->
    <!--<filter-name>authFilter</filter-name>-->
    <!--<filter-class>com.incesoft.xmas.auth.support.AuthFilter</filter-class>-->
  <!--</filter>-->
  <!--<filter>-->
    <!--<filter-name>i18nfilter</filter-name>-->
    <!--<filter-class>com.eastrobot.commonsapi.util.I18nFilter</filter-class>-->
  <!--</filter>-->
  <!--<filter>-->
    <!--<filter-name>encodingFilter</filter-name>-->
    <!--<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>-->
    <!--<init-param>-->
      <!--<param-name>encoding</param-name>-->
      <!--<param-value>UTF-8</param-value>-->
    <!--</init-param>-->
    <!--<init-param>-->
      <!--<param-name>forceEncoding</param-name>-->
      <!--<param-value>true</param-value>-->
    <!--</init-param>-->
  <!--</filter>-->
	<!--<servlet>-->
		<!--<servlet-name>springmvc</servlet-name>-->
		<!--<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
		<!--<load-on-startup>0</load-on-startup>-->
	<!--</servlet>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>springmvc</servlet-name>-->
		<!--<url-pattern>*.action</url-pattern>-->
	<!--</servlet-mapping>-->
  <!--<servlet>-->
    <!--<servlet-name>P4ImageProxyServlet</servlet-name>-->
    <!--<servlet-class>com.incesoft.xmas.kbmgr.web.P4ImageProxyServlet</servlet-class>-->
    <!--<load-on-startup>1</load-on-startup>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>P4ImageProxyServlet</servlet-name>-->
    <!--<url-pattern>/kbmgr/p4data/*</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>P4ImageProxyServlet</servlet-name>-->
    <!--<url-pattern>/kbmgr/imgmsgData/*</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--<servlet>-->
    <!--<servlet-name>ImgTxtImageProxyServlet</servlet-name>-->
    <!--<servlet-class>com.incesoft.xmas.matmgr.web.ImgTxtImageProxyServlet</servlet-class>-->
    <!--<load-on-startup>1</load-on-startup>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>ImgTxtImageProxyServlet</servlet-name>-->
    <!--<url-pattern>/matmgr/imgmsgData/*</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>ImgTxtImageProxyServlet</servlet-name>-->
    <!--<url-pattern>/matmgr/materialBak/imgmsgData/*</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>ImgTxtImageProxyServlet</servlet-name>-->
    <!--<url-pattern>/matmgr/imgtxtMsgHtml/*</url-pattern>-->
  <!--</servlet-mapping>-->
  <!-- <servlet>
    <servlet-name>LogJobServlet</servlet-name>
    <servlet-class>
			com.incesoft.xmas.ommgr.web.LogJobServlet
		</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogJobServlet</servlet-name>
    <url-pattern>/ommgr/dailyAskLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoImportKnowZipServlet</servlet-name>
    <servlet-class>com.incesoft.xmas.kbmgr.web.AutoImportKnowZipServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet> -->
  <!--<filter>-->
	<!--<filter-name>IllegalCharacterFilter</filter-name>-->
	<!--<filter-class>com.incesoft.xmas.commons.IllegalCharacterFilter</filter-class>-->
  <!--</filter>-->
  <!--<filter-mapping>-->
	<!--<filter-name>IllegalCharacterFilter</filter-name>-->
	<!--<url-pattern>*.action</url-pattern>-->
  <!--</filter-mapping>-->

  <!--<filter>-->
    <!--<filter-name>dirListFilter</filter-name>-->
    <!--<filter-class>com.incesoft.xmas.commons.DirectoryListFilter</filter-class>-->
  <!--</filter>-->
  <!--<filter-mapping>-->
    <!--<filter-name>authFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--<dispatcher>REQUEST</dispatcher>-->
    <!--<dispatcher>FORWARD</dispatcher>-->
  <!--</filter-mapping>-->
  <!--<filter-mapping>-->
    <!--<filter-name>encodingFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--<dispatcher>REQUEST</dispatcher>-->
    <!--<dispatcher>FORWARD</dispatcher>-->
  <!--</filter-mapping>-->
  <!--<filter-mapping>-->
    <!--<filter-name>i18nfilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--<dispatcher>REQUEST</dispatcher>-->
    <!--<dispatcher>FORWARD</dispatcher>-->
  <!--</filter-mapping>-->
  <!--<filter-mapping>-->
    <!--<filter-name>dirListFilter</filter-name>-->
    <!--<url-pattern>/kbmgr/bak/*</url-pattern>-->
    <!--<dispatcher>REQUEST</dispatcher>-->
    <!--<dispatcher>FORWARD</dispatcher>-->
  <!--</filter-mapping>-->
  <!--&lt;!&ndash; 对不安全的response响应头进行过滤 &ndash;&gt;-->
  <!--<filter>-->
    <!--<filter-name>httpLeakFilter</filter-name>-->
    <!--<filter-class>com.incesoft.xmas.commons.HttpLeakFilter</filter-class>-->
  <!--</filter>-->
  <!--<filter-mapping>-->
    <!--<filter-name>httpLeakFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
  <!--</filter-mapping>-->
  <!-- 过滤非法请求头 -->
  <!-- <filter>
    <filter-name>httpHeaderFilter</filter-name>
    <filter-class>com.incesoft.xmas.commons.HttpHeaderFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>httpHeaderFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> -->
  <!-- 设置jvm的SecurityManager,防止反序列化漏洞 -->
  <!-- <filter>
    <filter-name>serializationFilter</filter-name>
    <filter-class>com.incesoft.xmas.commons.SerializationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>serializationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> -->
  <!--<listener>-->
    <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
  <!--</listener>-->
  <!--<listener>-->
    <!--<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>-->
  <!--</listener>-->
  <!--<listener>-->
		<!--<listener-class>com.incesoft.xmas.auth.support.HttpSessionManager</listener-class>-->
	<!--</listener>-->
  <!--<session-config>-->
    <!--<session-timeout>360</session-timeout>-->
  <!--</session-config>-->
  <!--<welcome-file-list>-->
    <!--<welcome-file>index.html</welcome-file>-->
    <!--<welcome-file>index.htm</welcome-file>-->
    <!--<welcome-file>index.jsp</welcome-file>-->
  <!--</welcome-file-list>-->
  <!--<error-page>-->
    <!--<error-code>404</error-code>-->
    <!--<location>/commons/404.html</location>-->
  <!--</error-page>-->
  <!--<jsp-config>-->
    <!--<taglib>-->
      <!--<taglib-uri>/ibot-mgr/module-feature</taglib-uri>-->
      <!--<taglib-location>/WEB-INF/classes/META-INF/mdl-ft.tld</taglib-location>-->
    <!--</taglib>-->
    <!--<taglib>-->
      <!--<taglib-uri>/ibot-mgr/import-res</taglib-uri>-->
      <!--<taglib-location>/WEB-INF/classes/META-INF/import-res.tld</taglib-location>-->
    <!--</taglib>-->
    <!--<taglib>-->
      <!--<taglib-uri>/ibot-mgr/login-user</taglib-uri>-->
      <!--<taglib-location>/WEB-INF/classes/META-INF/login-user.tld</taglib-location>-->
    <!--</taglib>-->
    <!--<taglib>-->
      <!--<taglib-uri>/ibot-mgr/x-core</taglib-uri>-->
      <!--<taglib-location>/WEB-INF/classes/META-INF/x-core.tld</taglib-location>-->
    <!--</taglib>-->
  <!--</jsp-config>-->
</web-app>
